.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-bottom: 3px solid #37383c;
}

.logo {
    flex: 0 0 90px;
}

.title {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero {
    max-width: 100%;
    width: 100%;
    margin: 1em 0;
}


.color-pallete {
    width: 70px;
    margin: 1em auto;
    text-align: right;
}

.pallete {
    margin-left: 10px;
    width: 60px;
    height: 60px;
}

article>img {
    background-color: #37383c;
    border-radius: 50%;
    width: 169px;
    height: 169px;
    padding: 13px;
    display: block;
    margin: 1em auto;
}

h1 {
    margin: 0;
}

.pallete-1 {
    background-color: #fbe20c;
}

.pallete-2 {
    background-color: #fef7e7;
}

.pallete-3 {
    background-color: #bd3f29;
}

@media screen and (max-width: 1200px) {
    #side {
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }

    .color-pallete {
        flex: 0 0 70px;
        text-align: center;
        margin: 1em;
    }

    .pallete {
        margin: 0 auto;
    }
}
