.thumbnail {
    width: 300px;
    margin: 15px 0;
}

.interesting-fact {
    font-style: italic;
    margin-top: 12px;
}

.description {
    margin-bottom: 12px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li>span {
    font-weight: bold;
}

.content {
    border: 1px solid #ddd;
    padding: 12px;
}

.card {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 12px;
    box-shadow: 10px 10px 5px #eee;
    width: 326px; /* 300 + 12 * 2 + 1 * 2 */
}
